{% layout 'password' %}

<div class="container">
  <div class="heading">
    <h2>Coming Soon</h2>

    {% unless shop.password_message == blank %}
      <p>
      {{ shop.password_message }}
      </p>
    {% endunless %}
  </div>

  <div class="body">
    <div class="mousey">{% include 'adventure' %}</div>
  </div>
</div>
