
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.heading {
  margin: 0 0 50px;
  text-align: center;
}

h2 {
  margin: 0;
  font-size: 72px;
}

.body {
  width: 80%;
  height: 80%;
  max-height: 500px;
  max-width: 500px;
  margin: 0 auto;
}
